/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');
@import url('https://fonts.googleapis.com/css?family=Arvo');

$blue: #2D4057;
$green: #45C180;
$grey: #BDBBBB;

body {
		font-family: 'Arvo', serif;
    transition: background-color .5s;
    background-color: #fdfdfd;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    a {
    &:hover {
    color: $blue;
    background-color: transparent;
  }
  }
  .card-title {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
  }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: $blue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.4em;
    color: white;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: $green;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2.5em;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    z-index: -1;
}

#logo	{
	text-align: center;
}

hr {
  border-width: 1.8px;
  max-width: 800px;
  margin: 5px auto;
}
hr.light {
  border-color: white;
  max-width: 100px;
  margin: 5px auto;
}

hr.grey {
	border-color: $grey;
}

hr.green {
  border-color: $green;
}

#tageo {
	text-align: center;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline;
			margin: 0 1rem;
			a {
				color: $grey;
        text-transform: uppercase;
			}
		}
	}
}

#sesion {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        display: inline;
        float: left;
        a {
            font-size: .9em;
            text-transform: uppercase; 
        }
    }
}

.upper {
    text-transform: uppercase;
}

.twitter {
    color: #55acee;
    &:hover {
    opacity: .8;
    }
  }
    .insta {
    color: #e95950;
    &:hover {
    opacity: .8;
    }
  }
    .you {
    color: #bb0000;
    &:hover {
    opacity: .8;
    }
  }

    .facebook {
    color: #3b5998;
    &:hover {
    opacity: .8;
    }
  }

 #image {
    width: 100%;
    img {
        width: 100%;
    }
 } 

 
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover;
  transition: all .25s ease;
}

.green2 {
  color: $green;
}

#marco {
  height: 500px;
  padding: 1rem 2rem 2rem 2rem;
  border-left: solid 1px #f5f5f5;
  border-right: solid 1px #f5f5f5;
  margin-top: 3rem;
  .category {
    color: $green;
    text-transform: uppercase;
    font-size: .9em;
  }
  .card-title {
    margin: 2rem 0;
    color: #525252;
  }
  .back {
    color: #939393;
    margin-bottom: 2rem;
  }
  .impre {
    position: absolute;
    padding-left: 68%;
  }
  .taging {
    position: absolute;
     a {
      margin: 0 .3rem;
     }
  }
  .button {
  transition: background-color .25s linear;
  font-size: 14px;
  min-width: 160px;
  max-width: 200px;
  border-radius: 12px;
  padding: 11px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin: 1rem auto;
  background-color: transparent;
  color: $green;
  border: solid 2.5px $green;
  display: block;
  margin: 0 auto;
  &:hover {
    color: white;
    background-color: $green;
  }
}
}



.img-card {
  .votable, .derecho {
  position: absolute;
  padding-left: 72%;
  margin-top: .5rem;
  font-size: 1.2em;
}
}

.votable {
  a {
  color: white; 
}
}

.derecho {
  a {
  color: $green; 
}
}

#formario {
  padding: 3rem 5rem;
  background-color: white;
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;
  margin: 6rem 0;
  img {
    width: 100%;
  }
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 0;
  }
  input[type="submit"] {
    transition: background-color .25s linear;
  font-size: 15px;
  min-width: 200px;
  border-radius: 2px;
  padding: 5px 2px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 1rem; 
  background-color: transparent;
  color: $blue;
  border: solid 2px $blue;
  margin-top: 4rem;
  display: block;
  margin: 0 auto;
  &:hover {
    color: white;
    background-color: $blue;
  }

  }
  input[type="name"], input[type="email"], input[type="number"], input[type="date"], input[type="text"], input[type="password"], textarea {
  width: 100%;
  height: 3rem;
  border:none;
  border-bottom:1px solid #757575;
  margin-bottom: 1.5srem;
  background-color: white !important;
  }
  textarea {
    height: 30rem !important;
  }
  label {
  margin-top: 1rem;
  font-weight: 900;
  text-align: center;
    text-transform: uppercase;
    font-size: 1em;
}
  a {
    color: $blue;
    font-size: 1em;
  }
}

.centrar {
  text-align: center;
}